<div class="container">
  <div class="row">
    <div class="col-sm-6 image">
      <img src="./../../assets/IMG_3685 3.jpg" class="p-img" />
    </div>
    <div class="content col-sm-6">
      <p>Hi, I'm Rana</p>
      <p>Frontend developer</p>

      <p>
        I've been a Web Developer for 3 years. I love and breathe in web
        development.
      </p>
      <p>High level knowledge in web development and front-end frameworks.</p>
      <p>Expertise in Angular Framework. Familiar with React.</p>
      <p>
        I will build the optimised, Responsive websites, SPA's, which are fast
        loading, accessible and easy to manage.
      </p>
    </div>
  </div>
  <button class="btn btn-primary">
    Contact Me <mat-icon class="send-icon">send</mat-icon>
  </button>
</div>
