<div class="container">
  <div class="row">
    <div class="col-sm-6 image">
      <img src="./../../assets/IMG_0357.JPG" class="p-img" />
    </div>
    <div class="content col-sm-6">
      <h1>Hi, I'm Rana</h1>
      <h2>Frontend developer</h2>
      <br />
      <p>
        I've been a Web Developer for 3 years. I love and breathe in web
        development.
      </p>
      <p>High level knowledge in web development and front-end frameworks.</p>
      <p>Expertise in Angular Framework.</p>
      <p>
        I will build the optimised websites, which are fast loading, accessible
        and easy to manage. Medium level experience in web development.
      </p>
    </div>
  </div>
  <button class="btn btn-primary">
    Contact Me <mat-icon class="send-icon">send</mat-icon>
  </button>
</div>
