<mat-toolbar class="navbar">
  <div class="logo"><a routerLink="/about">RP</a></div>
  <div><mat-icon>menu</mat-icon></div>
  <div class="nav-list">
    <a routerLink="/about"
      ><mat-icon
        ><span class="material-icons-outlined"> view_stream </span></mat-icon
      >
      About Rana</a
    >
    <a routerLink="/recent-projects"
      ><mat-icon><span class="material-icons-outlined"> code </span></mat-icon>
      Recent Projects</a
    >
    <a routerLink="/work"
      ><mat-icon><span class="material-icons-outlined"> work </span></mat-icon>
      Education</a
    >
    <a routerLink="/contact"
      ><mat-icon
        ><span class="material-icons-outlined"> perm_identity </span></mat-icon
      >
      Contact</a
    >
    <a routerLink="/blog"
      ><mat-icon
        ><span class="material-icons-outlined"> work_outline </span></mat-icon
      >
      Blog</a
    >
  </div>
</mat-toolbar>
