<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="name">Rana</p>
        <p class="line">Frontend developer</p>
      </div>
      <div class="col-md-6">
        <ul>
          <li routerLink="/work">Services</li>
          <li routerLink="/recent-projects">Portfolio</li>
          <li routerLink="/contact">Contact</li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p style="text-align: center">Copyright &#169; All Rights Reserved.</p>
    </div>
  </div>
</div>
