<div class="row">
  <h2>Introduction</h2>

  <div class="col-sm-4">
    <img
      class="display-picture"
      src="./../../assets/IMG_0357.JPG"
      alt="picture"
    />
  </div>
  <div class="col-sm-8">
    <h1>Hi, I'm Rana Pratap.</h1>
    <p>
      A Web Developer interested in writing code and love to explore the new
      technologies in web development.
    </p>
    <p>
      I like to develop web applications that has more logical thinking rather
      than just coding. At Present I'm in search of an interesting position
      which involves challenges and much more than just writing a code.
    </p>
    <p>
      My Strength is that, I Can learn new technologies or new updates in
      existing technologies briskly.
    </p>
    <p>
      My Interests are to play online chess and to solve puzzles which involves
      more logical thinking like Su-Do-Ku.
    </p>
    <p>
      Expertise in HTML5, CSS3, JavaScript, Angular, Typescript, React. Had a
      basic knowledge of Java, Python, C#.
    </p>
  </div>

  <div class="col">
    <div>
      <h1>My Journey in Web Development</h1>
      <h2>HTML5 : Hyper Text Mark Up Language</h2>
      <li>
        The Basic and foremost language to learn when we enter into a Web
        Development.
      </li>
      <li>
        Started basics with "<a
          href="https://www.w3schools.com/"
          target="_blank"
          >W3 Schools"</a
        >
        and learned the HTML and from Udemy too.
      </li>
    </div>
  </div>
</div>
