* {
  font-family: "EB Garamond", serif;
  text-align: justify;
  font-size: medium;
}

.display-picture {
  width: 80%;
  border-radius: 10%;
  margin: 20px;
  margin-left: 4rem;
}

.row {
  padding-top: 30px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: x-large;
}

.content {
  margin-top: 50px;
}
