<div class="container">
  <p class="title">Recent-Projects</p>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Premier Online Trainings</mat-card-title>
      <mat-card-subtitle
        >http://premieronlinetrainings.com/index/</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      src="./../../assets/website image.png"
      alt="Website-Image"
    />
    <mat-card-content>
      <p>
        It is a online website created for the people who wants to learn the
        courses in Online.
      </p>
    </mat-card-content>
  </mat-card>
</div>
