<div class="container">
  <p class="title">Recent-Projects</p>
  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <a href="https://usersignup.codecrack.co.uk/" target="_blank">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Basic User Sign-Up</mat-card-title>
            <mat-card-subtitle
              >https://usersignup.codecrack.co.uk/</mat-card-subtitle
            >
          </mat-card-header>
          <img
            mat-card-image
            src="./../../assets/webpage-1.png"
            alt="Website-Image"
          />

          <mat-card-content>
            <p>User Sign-Up Form</p>
          </mat-card-content>
        </a>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card">
        <a href="http://premieronlinetrainings.com/index/" target="_blank">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Premier Online Trainings</mat-card-title>
            <mat-card-subtitle
              >http://premieronlinetrainings.com/index/</mat-card-subtitle
            >
          </mat-card-header>
          <img
            mat-card-image
            src="./../../assets/website image.png"
            alt="Website-Image"
          />

          <mat-card-content>
            <p>
              It is a online website created for the people who wants to learn
              the courses in Online.
            </p>
          </mat-card-content>
        </a>
      </mat-card>
    </div>
  </div>
</div>
