.navbar {
  font-family: "EB Garamond", serif;
}

.contact {
  cursor: pointer;
}

.navbar-nav li {
  font-weight: 700;
}

.navbar-nav li :hover {
  text-decoration: underline;
  text-decoration-color: chocolate;
}
