<p class="skills-text">Skills</p>
<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4">
      <mat-card>
        <p>HTML</p>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </mat-card>
      <mat-card>
        <p>CSS</p>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </mat-card>
      <mat-card>
        <p>JavaScript</p>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </mat-card>
      <mat-card>
        <p>Angular</p>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card>
        <p>React</p>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </mat-card>
      <mat-card>
        <p>Bootstrap</p>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </mat-card>
      <mat-card>
        <p>GIT</p>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </mat-card>
      <mat-card>
        <p>Typescript</p>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </mat-card>
    </div>
  </div>
</div>
